.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 28px;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    object-fit: cover;
}